/* roboto mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700');

/* nord */
:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

::-moz-selection {
    color: var(--nord0);
    background: var(--nord8);
}

::selection {
    color: var(--nord0);
    background: var(--nord8);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    -webkit-font-smoothing: antialiased;
    background: var(--nord6);
    padding: 0px;
    margin: 0px;
    cursor: default;
    color: var(--nord0);
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    color: var(--nord0);
    font-weight: bold;
    font-size: 18px;
    padding: 40px;
    width: 100%;
}

.logo-text {
    font-size: xx-large;
}

.stuff {
    height: calc(100vh - 210px);
    display: flex;
    flex-direction: row !important;
    padding: 0;
}

.stuff-item {
    width: 50vw;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stuff-item:first-child {
    background: var(--nord0);
    color: var(--nord6);
}


.stuff-item_left {
    max-width: 300px;
}

.stuff-github {
    display: inline-block;
    margin-top: 5px;
    border: 2px solid;
    padding: 10px 15px;
    font-weight: bold;
}

.stuff-github:hover {
    background-color: var(--nord2);
}

.tree {
    width: 100%;
    height: auto;
}

.leaf-l1:hover,
.leaf-l2:hover,
.leaf-l3:hover,
.leaf-l4:hover,
.leaf-l1:hover~.l1,
.leaf-l2:hover~.l2,
.leaf-l3:hover~.l3,
.leaf-l4:hover~.l4 {
    fill: var(--nord11);
}

@media only screen and (max-width: 1000px) {
    .stuff {
        height: auto;
        flex-direction: row !important;
        display: block;
    }

    .stuff-item {
        width: 100vw;
    }
}
